.customer-card {
  height: 380px;
}


.customer-head {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
}


.customer-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 300px;
    position: relative;
}

.circle-outer, .circle-mid, .circle-inner, .customer-text {
    position: absolute;
    border-radius: 50%;
    background-color: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle-inner {
  width: 200px; 
    height: 200px;
    border: 20px solid rgb(242, 242, 242);
    z-index: 0;
}

.circle-mid {
  width: 190px; 
    height: 190px;
    border: 32px solid #8e32e3; 
    z-index: 1;
    clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 10% 100%);
  
}

.circle-outer {
  width: 184px; 
    height: 184px;
    border: 40px solid #e64c8f;
    z-index: 2;
    clip-path: polygon(60% 0%, 100% 0%, 100% 25%, 50% 65%); 
}

.customer-text {
  width: 184px; 
    height: 184px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 4;
}

/* @media (max-width: 1068px) {
  .customer-card {
    width: 100%;
  }
} */